*{
    @media screen {
        
    }
    background-color: rgb(238, 207, 173);
    /*color: black;*/
}

body {
    display: block;
    
}

img {
    border-top: 20px;
    border-bottom: 20px;
    display: block;
    unicode-bidi: isolate;
    margin-top: 10px;
    margin-bottom: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    width: 100%;
    height: 380px;
    padding: 60px;
}

.hero{
   display: block;
   padding: 2rem 1rem 0.25rem;;
   width: 100%;
   position: layer;
}

p {
    text-align: center;
    font-size: 1.2rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #494949;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400;
    position: relative;
    box-sizing: border-box;
}

p1 {
    text-align: center;
    font-size: 1.2rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #494949;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400;
    position: relative;

}

p1::before, p1:after {
    --scale: 0;
    --tooltip-color: blue;
    --arrow-size: 10px;
 
    position: absolute;
    top: -.25rem;
    left: 50%;
    transform: translateX(50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: bottom center;
    font-weight: 100;
}

p1::before {
    --translate-y: calc(-100% - var(var(--arrow-size)));

    content: attr(data-tooltip);
    color: white;
    padding: 1rem;
    border-radius: 1.2rem;
    text-align: center;
    width: max-content;
    max-width: 100%;
    background: var(--tooltip-color);
    font-weight: 400;
}

p1:hover::before, p1:hover::after {
    --scale: 1;
}

p1::after {
    --translate-y: calc(-1 * var(var(--arrow-size)));
    content: '';
    border: var(--arrow-size) solid transparent;
    border-top-color: black;
    position: relative;
}

.page-subtitle{
    color: black;
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
}

p.page-title{
    text-align: center;
    font-size: 3.5em;
    font-family: Roboto light, sans-serif;
    color:blue;
    font-weight: 400;
}

.bio-block{
    padding: 50px;
    text-align: center;
    color: black;
}

p.section-heading{
    display: flex;
    justify-content: center;
    color: blue;
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
}

.section-subheading{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.2rem;
}

.section-smallheading{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.2rem;
}

.keyword-magnet{
    text-align: center;
    border-style: solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 0.1em;
    margin-right: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 0.1em;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: .85em;
    border-width: 1.275pt;
}

ul {
    padding-top: 0in;
    padding-right: 0in;
    padding-bottom: 0in;
    padding-left: 0in;
    margin-top: 0;
    margin-bottom: 0.8rem;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    font-size: 1.2rem;
    /*  */
}

.h-100{
    height: 100% important!;
    text-align: center;
}

.card{
    position: relative;
    display: flex;
    background-color: #fff;
    border-image: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}

hr{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-image: none;
    font-size: 1.2rem;
    border-top-style: dotted;
    border-top-width: 0.5rem ;
    border-top-color: black;
    overflow: visible;
    width: 7%;
}

.applet-div{
    display: block;
    text-align: center;
    color: black;
    padding-top: 0.8rem;
    padding-right: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 0.8rem;
    font-size: 1.2rem;
}

input {
    overflow: visible;
    background-color: field;
}

.card-body, [class~=card-title] {
    text-align: center;
}

.card-title{
    color: black;
    font-weight: bold;
}

.card-text{
    color: black;
    
}

#query-form{
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.button{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.card-image-top{
    width: 40rem;
    height: 700px;
}

ul {
    display: table;
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul li:before {
    content: '\2605';
    margin: 0 1em;
}

/* ::after, ::before {
    box-sizing: border-box;
} */

/* Selector corregido para el elemento a con el id #tt */
a#tt {
    position: relative;
}

/* Pseudoclase :hover para el elemento a con el id #tt */
a#tt:hover::after {
    content: attr(data-tooltip);
    background-color: blue;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 14px;
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
}



.copyright-text{
    text-align: center;
}